{% extends 'home.html' %}

{% block subcontent %}
    <div style="position: relative; top: 400px; display: flex; justify-content: center;">
        <div style="transform: scale(1.5);">
            <h1>Find Us</h1>
            <div id="map-container">
                <div id="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2892.9134768240425!2d172.6547273156372!3d-43.52845607275076!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d318c3d92d25071%3A0xb3549d7f731037c1!2s459%20Cashel%20St%2C%20Linwood%2C%20Christchurch%208011%2C%20New%20Zealand!5e0!3m2!1sen!2s!4v1648519517031!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
                <div id="address">
                    459 Cashel Street, Linwood, Christchurch 8011, New Zealand
                </div>
            </div>
        </div>
    </div>
{% endblock %}
