{% extends 'base.html'%}

{%block content%}

<div class="up-padding">
    
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color:#007bff">
        <div class="container">
            <a href="{{ url_for('guest.home') }}" class="navbar-brand"><img class="logo" src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Countryside Swimming Club"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item me-2">
                        <a class="nav-link {% if active == 'home' %} active {% endif %}" href="{{ url_for('guest.home') }}">Home</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="nav-link {% if active == 'register' %} active {% endif %}" href="{{ url_for('auth.register') }}">Register</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="nav-link {% if active == 'timetable' %} active {% endif %}" href="{{ url_for('guest.view_weeklytimetable') }}">Timetable</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="nav-link {% if active == 'contact' %} active {% endif %}" href="{{ url_for('guest.contact') }}">Contact Us</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="nav-link {% if active == 'login' %} active {% endif %}" href="{{ url_for('auth.user') }}">My Account</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    {% block subcontent %}

    {% endblock %}
</div>


{% endblock %}