{%extends 'managerhome.html'%}
{%block subcontent%}
    <div class="container">
        <!--display the flash message after action-->
        {% for message in get_flashed_messages() %}            
        <div class="alert alert-danger text-center my-4" role="alert">
        <p class="pt-3"><b>{{ message }}</b></p>
        </div>  
        {% endfor %}
        <div class="row justify-content-center">
            <div class="col-6">
                <h3 class="text-center pt-5 mb-5">Add New Member</h3>
                <form action="{{url_for('manager.add_member')}}" method="post" 
                class="needs-validation" enctype="multipart/form-data" novalidate >
                    
                    <div class="row mb-3 justify-content-center">
                        <label for="username" class="col-3 col-form-label"><b>User Name:</b></label>
                        <div class="col-6">
                            <input type="text" class="form-control" id="username" name="username" required 
                            placeholder="Username">
                        </div>
                        <div class="invalid-feedback text-start">
                            Please enter the username.
                        </div> 
                    </div>
           
                    <div class="row mb-3 justify-content-center">
                        <label for="password" class="col-3 col-form-label"><b>Password:</b></label>
                        <div class="col-6">
                            <input type="password" class="form-control" id="password" name="password" required
                            placeholder="Password">
                            <div class="invalid-feedback text-start">
                                Please enter the password.
                            </div>  
                        </div>
                    </div>
                    <div class="row mb-3 justify-content-center">
                        <label for="title" class="col-3 col-form-label"><b>Title:</b></label>
                        <div class=" col-6">
                            <select id="title"  name="title"  required class="form-select" aria-label="Default select example" >
                                <option   disabled selected value>Please select the title</option>
                                <option value="Mr">Mr</option>
                                <option value="Miss">Miss</option>
                                <option value="Ms">Ms</option>
                                <option value="Mrs">Mrs</option>
                                <option value="Mx">Mx</option>
                                <option value="None">None</option>
                              </select>
                              <div class="invalid-feedback text-start">
                                Please select the title.
                            </div>  
                        </div>
                    </div> 
                    <div class="row mb-3 justify-content-center">
                        <label for="first_name" class="col-3 col-form-label"><b>First Name:</b></label>
                        <div class="col-6">
                            <input type="text" class="form-control" id="first_name" name="first_name" required 
                            placeholder="First Name">
                            <div class="invalid-feedback text-start">
                                Please enter the first name.
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3 justify-content-center">
                        <label for="family_name" class="col-3 col-form-label"><b>Last Name:</b></label>
                        <div class="col-6">
                            <input type="text" class="form-control" id="family_name" name="family_name" required
                            placeholder="Family Name">
                            <div class="invalid-feedback text-start">
                                Please enter the family name.
                            </div>  
                        </div>
                    </div>
                    <div class="row mb-3 justify-content-center">
                        <label for="position" class="col-3 col-form-label"><b>Position:</b></label>
                        <div class="col-6">
                            <input type="text" class="form-control" id="position" name="position" required           
                            placeholder="Position">
                            <div class="invalid-feedback text-start">
                                Please enter the position.
                            </div> 
                        </div>
                    </div>
                    <div class="row mb-3 justify-content-center">
                        <label for="phone" class="col-3 col-form-label"><b>Phone:</b></label>
                        <div class="col-6">
                            <input type="text" class="form-control" id="phone" name="phone" required           
                            placeholder="Phone">
                            <div class="invalid-feedback text-start">
                                Please enter the phone number.
                            </div> 
                        </div>
                    </div>
                    <div class="row mb-3 justify-content-center">
                        <label for="email" class="col-3 col-form-label"><b>Email:</b></label>
                        <div class="col-6">
                            <input type="email" class="form-control" id="email" name="email" required           
                            placeholder="Email">
                            <div class="invalid-feedback text-start">
                                Please provide a valid email.
                            </div>  
                        </div>
                    </div>
                   
                    <div class="row mb-3 justify-content-center">
                        <label for="address" class="col-3 col-form-label"><b>Address:</b></label>
                        <div class="col-6">
                            <input type="text" class="form-control" id="address" name="address" required           
                            placeholder="Address">
                            <ul class="list-group" id="address-list"></ul>
                            <div class="invalid-feedback text-start">
                                Please enter the address.
                            </div> 
                        </div>
                    </div>
                    <div class="row mb-3 justify-content-center">
                        <label for="dob" class="col-3 col-form-label"><b>Date of Birth:</b></label>
                        <div class="col-6">
                            <input type="date" class="form-control" id="dob" name="dob" required           
                            placeholder="Date of Birth">
                            <div class="invalid-feedback text-start">
                                Please select the date of birth.
                            </div>  
                        </div>
                    </div>

                    <div class="row mb-3 justify-content-center">
                        <label for="image" class="col-3 col-form-label"><b>Profile Image:</b></label>
                        <div class="col-6">
                            <input type="file" class="form-control" id="image" name="image">
                        </div>
                    </div>

                    <div class="row mb-3 justify-content-center">
                        <label for="health_info" class="col-3 col-form-label"><b>Health Info:</b></label>
                        <div class="col-6">
                            <input type="text" class="form-control" id="health_info" name="health_info"            
                            placeholder="Health information">
                        </div>
                    </div>

                    <div class="text-center py-3">
                        <button type="submit" class="btn btn-outline-success">Add Member</button>
                    </div>    
                </form>
            
            </div>
            

        
    </div>
        
       
       
        

        
        


    </div>
   
{%endblock%}