{%extends 'managerhome.html'%}
{%block subcontent%}
<div class="container">
    <!--display the flash message after action-->
    {% for message in get_flashed_messages() %}            
    <div class="alert alert-danger text-center my-4" role="alert">
    <p class="pt-3"><b>{{ message }}</b></p>
    </div>  
    {% endfor %}
    
    <div>
        <h3 class="text-center pt-5 mb-3">Payments</h3>
    </div>
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-3 text-center">
                <div class="rectangle-heading">
                    <h5 class="text-center">All Payments</h5>
                  </div>
                  <div class="circle-container">
                    <div class="circle"  data-value="all_payments">
                      {{payment_number['number']}}
                    </div>
                  </div>
                  
            </div>
            <div class="col-3 text-center">
                <div class="rectangle-heading">
                    <h5 class="text-center">Subscription</h5>
                  </div>
                  <div class="circle-container">
                    <div class="circle"  data-value="sub_payments">
                      {{sub_payment_number['number']}}
                    </div>
                  </div>
                  
            </div>
            <div class="col-3 text-center">
                <div class="rectangle-heading">
                    <h5 class="text-center">Lesson</h5>
                  </div>
                  <div class="circle-container">
                    <div class="circle" data-value="lesson_payments">
                      {{lesson_payment_number['number']}}
                    </div>
                  </div>
                  
            </div>
            <div class="col-3 text-center">
                <div class="rectangle-heading">
                    <h5 class="text-center">Pending</h5>
                </div>
                <div class="circle-container">
                    <div class="circle" data-value="pending_payments">
                        {{pending_payment_number['number']}}
                    </div>
                </div>
                <div id="pending_payments_button" class="button-container not-show ">
                    <div class="circle-container ">
                        <a href="{{url_for('manager.pending_payment_reminder')}}">
                            <button type="button" class="btn btn-outline-success fw-bold">Send Reminder</button></a>
                      </div>
                  </div>
            </div>
        </div>
    </div>
   
    <div id="payment-table" class="not-show">
   </div>
   
</div>
<script>
    $(document).ready(function() {
        $('.circle').click(function(){
            $('#payment-table').show()
            $(".circle").removeClass("active");
            $(this).addClass("active");
            var filter_value = $(this).data("value");
            var buttonContainerId = filter_value + "_button";
            $(".button-container").hide();
            $("#" + buttonContainerId).show();
            $.ajax({
                url: '/manager/payment_filter',
                type: 'POST',
                data: {filter: filter_value},
                success: function(response){
                    $('#payment-table').empty();
                    $('#payment-table').html(response);
                }
            });
        });
    });
</script>
{%endblock%}